@{
    ViewData["Title"] = "Entradas";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div>
        <div>
            <div class="container py-3">
                <h2 class="fw-bold">Entradas</h2>
            </div>
            <!--MES-->
            <div class="container shadow p-4 border border-2 border-secondary-subtle" style="border-radius: 10px;">
                <div class="container mt-3">
                    <div class="row align-items-center ">
                        <div class="col">
                            <h5 class="fw-bold">Octubre, 2024</h5>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-primary"><i class="bi bi-download"></i> Descargar corte del mes</button>
                        </div>
                    </div>
                </div>
                <div class="container p-4 mt-3 border border-secondary-subtle" style="border-radius: 10px;">
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Día</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Unidades</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jueves 3</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jueves 3</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Viernes 4</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sábado 5</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sábado 5</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--MES-->
            <div class="container shadow p-4 mt-5 border border-2 border-secondary-subtle" style="border-radius: 10px;">
                <div class="container mt-3">
                    <div class="row align-items-center ">
                        <div class="col">
                            <h5 class="fw-bold">Noviembre, 2024</h5>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-primary"><i class="bi bi-download"></i> Descargar corte del mes</button>
                        </div>
                    </div>
                </div>
                <div class="container p-4 mt-3 border border-secondary-subtle" style="border-radius: 10px;">
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Día</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Unidades</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Martes 1</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jueves 3</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jueves 3</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Viernes 4</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sábado 5</th>
                                    <td>Canson</td>
                                    <td>6 unidades</td>
                                    <td>$6.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sábado 5</th>
                                    <td>Folcote</td>
                                    <td>10 unidades</td>
                                    <td>$10.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>